/* Paleta de colores */
:root {
  --azul-claro: #a8c8f7; /* Azul claro suave */
  --azul-oscuro: #4a6aff; /* Azul más oscuro */
  --blanco: #ffffff;
  --gris-claro: #f2f2f2; /* Gris claro para bordes y fondo suave */
  --gris-oscuro: #333333; /* Gris oscuro para texto */
}
  
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    color: var(--blanco);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #000000, #28a745, #ffffff);
  }
  
  /* Contenedor del formulario */
  .registro-container {
    background-color: var(--blanco);
    border-radius: 8px;
    padding: 20px 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin-top: 100px;
  }
  
  /* Título */
  h1 {
    color: var(--gris-oscuro);
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  /* Formulario */
  .form {
    display: flex;
    flex-direction: column;
  }
  
  /* Campos del formulario */
  .form-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    color: var(--negro);
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--azul-oscuro);
    border-radius: 5px;
    font-size: 14px;
  }

  .input-registrar-usuario {
    width: 92%;
    padding: 10px;
    border: 1px solid var(--azul-oscuro);
    border-radius: 5px;
    font-size: 14px;
  }
  
  /* Botón de registro */
  .btn {
    background-color: var(--azul-oscuro);
    color: var(--blanco);
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #218838;
  }
  